.order_page_section {
  position: relative;
}
.order_page_section > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.order_table {
  border: 1px solid black;
  min-width: 1000px;
  margin: 0 auto;
}

.order_table_detail {
  border: 1px solid black;
  margin: 10px 10px;
}

.order_table_detail tr,
.order_table_detail td {
  border: 1px solid black;
}

.order_table_detail th {
  min-width: 1000px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

.delivery_address_list_wrapper {
  display: none;
}
