*{
  box-sizing: border-box;
}

.detail_top_wrapper{
  width: 100%;
  height: 800px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detail_top_wrapper_left{
  margin: 10px 0px 0px 10px;
  width: 600px;
  height: 600px;
  
}

.detail_img{
  width: 550px;
  height: 400px;
  margin: 10px 0px 10px 10px;
}

.detail_subbox{
  display: flex;
  flex-direction: row;
}

.detail_sub_img{
  width: 100px;
  height: 100px;
  background-color: #EDEDED;
  
  margin: 20px 0px 0px 10px;
}

.detail_top_wrapper_right{
  margin: 10px 0px 0px 10px;
  width: 600px;
  height: 100%;
  
}

.wrapper_right_box{
  width: 580px;
  height: 750px;
  background-color: #EDEDED;
  border: 1px solid black;
  margin: 10px 0px 0px 10px;
  
  display: flex;
  flex-direction: column;
  
}

.detail_right_head{
  width: 100%;
  height: 60px;
  text-align: center;
  
}

.detail_right_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 540px;

}

.option_box{
  
  width: 100%;
  height: 50px;
  
}


.option_name_box{
  font-weight: bold;
  font-size: 32px;
  margin-left: 40px;
  width: 200px;
  display: inline-block;
}

.option_optionbox{
  text-align: center;
  width: 250px;
  height: 50px;
  margin-left: 40px;
}

.detail_right_footer{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}

.btn1{
  width: 150px;
  height: 50px;
  background-color: #69687c;
}
.btn2{
  width: 150px;
  height: 50px;
  background-color: #4a4951;
}
.btn3{
  width: 150px;
  height: 50px;
}

a {
  color: inherit; /* 부모 요소의 색상을 상속합니다. */
  text-decoration: none; /* 링크의 밑줄을 제거합니다. */
}

.navigation{
  margin: 0 auto;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.navigation_option1{
  width: 25%;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  background-color: #d9d9d9;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.navigation_option2{
  width: 25%;
  border: 1px solid black;
  border-right: none;
  background-color: #d9d9d9;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navigation_option3{
  width: 25%;
  border: 1px solid black;
  border-right: none;
  background-color: #d9d9d9;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navigation_option4{
  width: 25%;
  border: 1px solid black;
  border-right: none;
  background-color: #d9d9d9;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.navigation_option1:hover{
  width: 25%;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  background-color: #e7e7e7;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.navigation_option2:hover{
  width: 25%;
  border: 1px solid black;
  border-right: none;
  background-color: #e7e7e7;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navigation_option3:hover{
  width: 25%;
  border: 1px solid black;
  border-right: none;
  background-color: #e7e7e7;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navigation_option4:hover{
  width: 25%;
  border: 1px solid black;
  border-right: none;
  background-color: #e7e7e7;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.main_detail_background{
  padding: 50px 0px 50px 0px;
  width: 100%;
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.main_detail_inner{
  width: 40%;
  height: 100%;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.veiw_box{
  width: 800px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main_detail_img{
  width: 600px;
  height:500px;
}

.main_detail_img1_title{
  font-size: 32px;
  font-weight: bold;
}

.information1{
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px 20px;
  width: 90%;
  height: 300px;
  border: 1px solid black;
  background-color: #d9d9d9;
}

.information1_table{
  background-color: white;
  padding: 10px 10px;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  margin-top: 25px;
}

.information2{
  margin: 0 auto;
  padding: 0px 30px;
  width: 90%;
  height: 300px;
  border: 1px solid black;
  background-color: #d9d9d9;
}

.information2_table{
  background-color: white;
  padding: 10px 10px;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  margin-top: 25px;
}

.information3{
  margin: 0 auto;
  padding: 0px 30px;
  width: 90%;
  height: 300px;
  border: 1px solid black;
  background-color: #d9d9d9;
}

.information3_table{
  background-color: white;
  padding: 10px 10px;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  margin-top: 25px;
}

.info_title{
  margin-top: 20px;
}